@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #fcf5ee;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.title-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}

.title-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: pacifico;
  font-weight: 400;
  padding: 5px;
  width: 100%;
  background-color: #9cc6db;
}

.tasks-container {
  margin: auto;
  display: flex;
  max-width: 800px;
}

.tasks-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}

.task-name {
  word-wrap: break-word;
  margin-left: 20px;
  font-size: 25px;
  font-family: PT Mono;
  font-weight: 300;
}

.done-btn {
  height: 25px;
  width: 25px;
  align-items: center;
  flex-shrink: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .task-item {
    align-items: start;
    margin-left: 9px;
  }

  .task-name {
    font-size: 18px;
    word-wrap: break-word;
  }
}
